{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Reports -Wabcom Technologies Limited</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
	<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/navbar-fixed/">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'img/favicon.icon' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

	<link href="{% static 'css/style.css' %}" rel="stylesheet">

	<link href="{% static 'css/reports.css' %}" rel="stylesheet">

	<script src="{% static 'js/highcharts.src.js' %}"></script>

				<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<style>

.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
    padding-top: 25px;
    padding-left: 55px;
    padding-right: 55px
}

.bg-light {
    background-color: transparent !important
}

.navbar-brand {
    font-weight: 700;
    font-size: 40px
}

a {
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
    display: block
}

a:hover {
    text-decoration: none
}

.navbar-brand span {
    color: #fd6c1e
}

.navbar-brand b {
    color: #222
}

.navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: #222;
    padding: 0 12px;
    font-weight: 600;
    font-family: "Lora", serif;
    font-style: italic;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
    color: #ff771f
}

.navbar-nav .nav-item.active .nav-link {
    color: #ff5d24
}
	
</style>

<body style="overflow-x: hidden;">

       
         <!-- Navbar Area -->
		 <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand hover" href="/">WABCOM</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			  aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="/"> <span class="sr-only">(current)</span></a>
				</li>
				{% if request.user.is_authenticated %}
				{% if request.user.is_superuser == True %}
				<li class="nav-item">
				  <a class="nav-link" href="/list_items">Current Stock</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/add_items">Add Stock</a>
				</li>
				<li class="nav-item btn btn-outline-warning waves-effect  ml-3 mr-2 black">
				  <a class="nav-link  text-black " href="/admin/auth/user"><strong>Add Users</strong></a>
				</li>
				<li class="nav-item btn btn-outline-warning waves-effect  ml-2 mr-2">
				  <a class="nav-link " href="/report">Reports</a>
				</li>
				{% else %}
				<li class="nav-item">
				  <a class="nav-link" href="/list_items">Current Stock</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/add_items">Add Stock</a>
				</li>
				{% endif %}
				{% endif %}
			  </ul>
			  <ul class="navbar-nav">
				{% if request.user.is_authenticated %}
				<li><a href="/accounts/logout"><button class="btn btn-danger">{{ user }} | Logout</button></a></li>
				{% else %}
				<li><a href="/accounts/login" class="btn btn-success" style="text-transform: uppercase;">Login</a></li>
				{% endif %}
			  </ul>
			</div>
		  </nav>

	<hr>
	<div class="main mt-5">

		<div class="main-inner">

			<div class="container mt-5">

				<div class="row">

					<div class="span12">

						<div class="info-box row">
							<div class="col-md-4" style="background-color:grey;">
								<h2 class="mt-5"><b><strong>Daily</strong></b></h2>
							</div>
							<div class=" col-md-8" style="background-color: aquamarine;">
								<div class="span" style="height: 25px;">
									<div class="stats-box-title">Total Sales</div>
									<div class="stats-box-all-info"><i class="icon-thumbs-up" style="color:#F30"></i>
										{{ total_sales}}</div>
									<div class="wrap-chart">
										<div id="order-stat" class="chart" style="padding: 0px; position: relative;">
											<canvas id="bar-chart2" class="chart-holder" height="150"
												width="325"></canvas></div>
									</div>
								</div>

								<div class="span">
									<div class="stats-box-title">Total Amount</div>
									<div class="stats-box-all-info"><i class="icon-shopping-cart"
											style="color:#3C3"></i> 15.55</div>
								</div>
							</div>
							<hr>
							<div class="col-md-4" style="background-color: aquamarine;">
								<h2 class="mt-5"><b><strong>Weekly</strong></b></h2>
							</div>
							<div class=" col-md-8" style="background-color: grey">
								<div class="span" style="height: 25px;">
									<div class="stats-box-title">Total Sales</div>
									<div class="stats-box-all-info"><i class="icon-thumbs-up" style="color:#F30"></i>
										{{ total_sales}}</div>
									<div class="wrap-chart">
										<div id="order-stat" class="chart" style="padding: 0px; position: relative;">
											<canvas id="bar-chart2" class="chart-holder" height="150"
												width="325"></canvas></div>
									</div>
								</div>

								<div class="span">
									<div class="stats-box-title">Total Amount</div>
									<div class="stats-box-all-info"><i class="icon-shopping-cart"
											style="color:#3C3"></i> 15.55</div>
								</div>
							</div>
							<hr>
							<div class="col-md-4" style="background-color:grey;">
								<h2 class="mt-5"><b><strong>Monthly</strong></b></h2>
							</div>
							<div class=" col-md-8" style="background-color: aquamarine;">
								<div class="span" style="height: 25px;">
									<div class="stats-box-title">Total Sales</div>
									<div class="stats-box-all-info"><i class="icon-thumbs-up" style="color:#F30"></i>
										{{ total_sales}}</div>
									<div class="wrap-chart">
										<div id="order-stat" class="chart" style="padding: 0px; position: relative;">
											<canvas id="bar-chart2" class="chart-holder" height="150"
												width="325"></canvas></div>
									</div>
								</div>

								<div class="span">
									<div class="stats-box-title">Total Amount</div>
									<div class="stats-box-all-info"><i class="icon-shopping-cart"
											style="color:#3C3"></i> 15.55</div>
								</div>
							</div>
							
						</div>

						<div class=" mt-5 mb-3" id="container" style="width: 100%;">
							<p> {{ prices }}</p>
							<script src="https://code.highcharts.com/highcharts.src.js"></script>
							<script>

								Highcharts.chart('container', {
									chart: {
										type: 'column'
									},
									title: {
										text: 'Total transactions for items'
									},
									xAxis: {
										categories: {{ categories| safe }}
								},
									series: [{
										name: 'Year 2020',
										data: {{ prices }}
									},]
								});
							</script>
						</div>
					</div>

				</div>


			</div>
		</div>
		<!-- /row -->

		<div class="row">

			<div class="span6 col-md-12">

				<div class="widget">

					<div class="widget-header">
						<i class="icon-star"></i>
						<h3>Some Stats</h3>
					</div> <!-- /widget-header -->

					<div class="widget-content">
						<canvas id="pie-chart" class="chart-holder" height="250" width="538"></canvas>
					</div> <!-- /widget-content -->

				</div> <!-- /widget -->




			</div> <!-- /span6 -->


			<div class="span6">

				<div class="widget">

					<div class="widget-header">
						<i class="icon-list-alt"></i>
						<h3>Another Chart</h3>
					</div> <!-- /widget-header -->
				</div>

			</div> <!-- /widget -->

		</div> <!-- /span6 -->

	</div> <!-- /row -->


	</div> <!-- /container -->

	</div> <!-- /main-inner -->

	</div> <!-- /main -->




	<div class="extra">

		<div class="extra-inner">

			<div class="container">

				<div class="row">
					<div class="span3">
						<h4>
							About</h4>
						<ul>
							<li><a href="https://github.com/paulwababu/Inventory_management_system">Github
									Project</a>
							</li>
						</ul>
					</div>
					<!-- /span3 -->
					<div class="span3">
						<h4>
							Support</h4>
						<ul>
							<li><a href="mailto:paulkiragu621@gmail.com">Paul Wababu</a></li>
							<li><a href="mailto:mikemurwayi@gmail.com">Michael Murwayi</a></li>
						</ul>
					</div>
					<!-- /span3 -->
					<div class="span3">
						<h4>
							Something Legal</h4>


					</div>
					<!-- /span3 -->
					<div class="span3">
						<h4>
							Open Source jQuery Plugins</h4>
						<ul>

						</ul>
					</div>
					<!-- /span3 -->
				</div> <!-- /row -->

			</div> <!-- /container -->

		</div> <!-- /extra-inner -->

	</div> <!-- /extra -->




	<div class="footer">

		<div class="footer-inner">

			<div class="container">

				<div class="row">

					<div class="span12">
						&copy; 2020 <a href="http://www.github.io/paulwababu/>CrunchTech</a>.
    			</div> <!-- /span12 -->
    			
    		</div> <!-- /row -->
    		
		</div> <!-- /container -->
		
	</div> <!-- /footer-inner -->
	
</div> <!-- /footer -->
    

<script src=" {% static 'js/jquery-1.7.2.min.js' %}"></script>
							<script src="{% static 'js/top-bar.js' %}"></script>
							<script src="{% static 'js/bsa-ads.js' %}"></script>
							<script src="{% static 'js/excanvas.min.js' %}"></script>
							<script src="{% static 'js/chart.min.js' %}"></script>
							<script src="{% static 'js/bootstrap.js' %}"></script>
							<script src="{% static 'js/base.js' %}"></script>
							<script>

								var pieData = [
									{
										value: 30,
										color: "#F38630"
									},
									{
										value: 50,
										color: "#E0E4CC"
									},
									{
										value: 100,
										color: "#69D2E7"
									}

								];

								var myPie = new Chart(document.getElementById("pie-chart").getContext("2d")).Pie(pieData);

								var barChartData = {
									labels: ["January", "February", "March", "April", "May", "June", "July"],
									datasets: [
										{
											fillColor: "rgba(220,220,220,0.5)",
											strokeColor: "rgba(220,220,220,1)",
											data: [65, 59, 90, 81, 56, 55, 40]
										},
										{
											fillColor: "rgba(151,187,205,0.5)",
											strokeColor: "rgba(151,187,205,1)",
											data: [28, 48, 40, 19, 96, 27, 100]
										}
									]

								}

								var myLine = new Chart(document.getElementById("bar-chart").getContext("2d")).Bar(barChartData);
								var myLine = new Chart(document.getElementById("bar-chart1").getContext("2d")).Bar(barChartData);
								var myLine = new Chart(document.getElementById("bar-chart2").getContext("2d")).Bar(barChartData);
								var myLine = new Chart(document.getElementById("bar-chart3").getContext("2d")).Bar(barChartData);

							</script>


</body>
<!--Dynamically creates analytics markup-->

</html>
